body{
	background:#e1e1e1;
}

#main{
	margin: 30px auto;
	width:960px;
	height:650px;
	border:solid 1px #ccccc;
	background: #fff;
}
#main #drag{
	width:100px;
	height:100px;
	cursor:pointer;
	background: #ff0000;
}
